h4{
    font-style: normal;
    font-weight: bolder;
    font-size: medium;
    text-align: center;
}
form{
    margin: 0 auto;
    width:350px;
}
.field{
    background-color: white;
    border-color: #9edfff;
}
button {
    background-color: white;
    border-color: #9edfff;
}
html{
    background-color: aliceblue;
}
.table {
    width: 100%;
    margin: 50px auto;
    font: 14px Arial;
    text-align: left;
    table-layout: fixed;
}
table th {
    background: #9edfff;
}
table th,
table td {
    padding: 5px;
}
table tbody tr:nth-child(odd){
    background: #fff;
}
table tbody tr:nth-child(even){
    background: #f2f6f8;
}